
button#ChooseCharacter {
width:300px;
background: #673AB7;
padding: 8px 14px 10px;
border:1px solid #3e9cbf;
cursor:pointer;
font-size:1.5em;
font-family:Oswald, sans-serif;
letter-spacing:.1em;
text-shadow: 0 -1px 0px rgba(0, 0, 0, 0.3);
color: #fff;
box-shadow: inset 0px 1px 0px #3e9cbf, 0px 5px 0px 0px #205c73, 0px 10px 5px #999;
border-radius: 10px;
align-items: center;
}
button#Play {
width:300px;
background: #673AB7;
padding: 8px 14px 10px;
border:1px solid #3e9cbf;
cursor:pointer;
font-size:1.5em;
font-family:Oswald, sans-serif;
letter-spacing:.1em;
text-shadow: 0 -1px 0px rgba(0, 0, 0, 0.3);
color: #fff;
box-shadow: inset 0px 1px 0px #3e9cbf, 0px 5px 0px 0px #205c73, 0px 10px 5px #999;
border-radius: 10px;
}
button#start {
width:300px;
background: #673AB7;
padding: 8px 14px 10px;
border:1px solid #3e9cbf;
cursor:pointer;
font-size:1.5em;
font-family:Oswald, sans-serif;
letter-spacing:.1em;
text-shadow: 0 -1px 0px rgba(0, 0, 0, 0.3);
color: #fff;
box-shadow: inset 0px 1px 0px #3e9cbf, 0px 5px 0px 0px #205c73, 0px 10px 5px #999;
border-radius: 10px;
}

body#firstpage {
    background-image: url('5.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

body#secondpage {
    background-image: url('5.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
body#thirdpage {
    background-image: url('4.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: inherit;
    background-size: cover;
}
p.hurry {
  color: #673AB7;
  font-size: 80px;
  font-family:
}
p.name {
  color: #673AB7;
  font-size: 100px;
  font-family: "Gill Sans", sans-serif;
  direction: ltr;
}
#pname{
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 5px solid #e74c3c;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
}
@import url(https://fonts.googleapis.com/css?family=Mr+Dafoe);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:900);
@import url(https://fonts.googleapis.com/css?family=Righteous);
@import url(https://fonts.googleapis.com/css?family=Candal);

@import url(https://fonts.googleapis.com/css?family=Permanent+Marker);

@import url(https://fonts.googleapis.com/css?family=Monoton);


/*body { background: #000; color: #fff; position: relative;}*/

.hurry {
  position: relative;
  background-image: -webkit-linear-gradient(#378DBC 0%, #B6E8F1 46%, #ffffff 50%, #32120E 54%, #FFC488 58%, #582C11 90%, #EC9B4E 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 4px #f5f5f5;
  font-size: 150px;
  font-family: 'Titillium Web', sans-serif;
  font-style: italic;
  margin: 0;
  line-height: 1;
  text-align: center;
}

.hurry:before {
  content: 'Hurry';
  position: absolute;
  top: 0px;
  z-index: 10;
  background-image: -webkit-linear-gradient(-40deg, transparent 0%, transparent 40%, #fff 50%, transparent 60%, transparent 100%);
  background-position:-680px 0;
  -webkit-background-clip: text;
  -webkit-text-stroke: 0;
  padding-right: 300px;
  -webkit-animation-name: chrome_effect;
  -webkit-animation-duration: 6s;
  -webkit-animation-delay: 2s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;

}

.up {
  position: absolute;
  margin: 0px;
  font-family: 'Mr Dafoe', cursive;
  font-size: 100px;
  color:#18FFFF;
  transform:rotate(-15deg);
  -ms-transform:rotate(-15deg); /* IE 9 */
  -webkit-transform:rotate(-15deg); /* Safari and Chrome */
  margin-left: 300px;
  margin-top: -100px;
  -webkit-text-stroke: 1px #311B92);
  -webkit-filter: drop-shadow(2px 2px 20px #311B92);
  z-index: 20;
  text-align: center;
}

.windows .up {
  -webkit-text-stroke: 4px #18FFFF;
}
@-webkit-keyframes chrome_effect {
  0% {background-position:-680px 0;}
  10% {background-position:420px 0;}
  100% {background-position:420px 0;}
}

