#main{
	width: 750px;
	height: 500px;
	position: relative;
	margin: auto;
	border-width: 5px;
	border-style: solid;
	overflow: hidden;
	size: fixed;

}

.footer{
	position: absolute;
	bottom: 0px;
	width: 750px;
	height: 70px;
	z-index: -1;

}

#footerdiv2{
	right: -750px;
}

.obs{
	position: absolute;
	bottom: 30px;
	right: -100px;
	width: 100px;
	height: 100px;
	z-index: -2;
}

.imgindiv{
	width: 100%;
	height: 100%;
}