#main{
	width: 750px;
	height: 500px;
	position: relative;
	margin: auto;
	border-width: 5px;
	border-style: solid;
	overflow: hidden;
	size: fixed;

}

#main2{
	width: 750px;
	height: 500px;
	position: relative;
	margin: auto;
	border-width: 5px;
	border-style: solid;
	overflow: hidden;
	size: fixed;

}
.footer{
	position: absolute;
	z-index: -2;

}



.obs{
	position: absolute;
	z-index: -1;
}

.imgindiv{
	width: 100%;
	height: 100%;
}

.header{
	  
	  background-color: #16a085;
      height: 10%;
      position: absolute;
      width: 100%;
      -webkit-box-shadow: inset 0px 1px 0px #3e9cbf, 0px 5px 0px 0px #205c73, 0px 10px 5px #999;
      -moz-box-shadow: inset 0px 1px 0px #3e9cbf, 0px 5px 0px 0px #205c73, 0px 10px 5px #999;
      box-shadow: inset 0px 1px 0px #3e9cbf, 0px 5px 0px 0px #205c73, 0px 10px 5px #999;
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      border-radius: 0px;
      font-size: 3;
      font-family:Oswald, sans-serif;
      color: white;
}

.fixedCells{
	text-align: right;
}
.changingCells{
	text-align: left;
}

.headerImages{
	width: 35px; 
	height: 35px;
}

.badges{
	width: 35px; 
	height: 35px;
	opacity: 0.4;
}